@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-light);
    font-weight: bolder;
}

:root {
    --wrapper-padding: 15px;
    --primary: #2793BF;
    --primary2: #5434D6;
    --secondary: #F4940A;

    --text-color-light: #235079;
    --text-color: #032354;
    --light: rgb(240, 221, 202);
}

body {
    background: linear-gradient(180deg, rgba(2, 19, 37, 1) 0%, rgba(9, 78, 119, 1) 100%);
}

h1,
h2 {
    color: var(--text-color);
}


h3,
h4,
h5,
h6 {
    color: var(--text-color-light);
}

p {
    color: var(--text-color);
}

button:hover {
    cursor: pointer;
}

.navbar {
    width: 100%;
    background: linear-gradient(270deg, rgba(52, 195, 237, 1) 0%, rgba(13, 78, 136, 1) 100%);
    padding: 0.7vh;
}

.navbar h3 {
    color: var(--light);
}

.wrapper > div {
    padding: var(--wrapper-padding);
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: baseline;
    background: linear-gradient(90deg, rgba(193, 205, 221, 1) 0%, rgba(176, 199, 230, 1) 100%);
}

.wrapper > div > div {
    width: 100%;
}

.wrapper h4 {
    text-align: right;
}

.commands {
    display: flex;
    flex-direction: column;
}

.commands > div {
    margin: 2.5% auto;
    height: 22.5%;
    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6), inset -9px -9px 16px rgba(255, 255, 255, 0.3);
    align-items: center;
    border-radius: 5px;
    padding: var(--wrapper-padding);
    background: linear-gradient(90deg, rgba(194, 211, 229, 1) 0%, rgba(181, 194, 211, 1) 100%);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.form > * {
    width: 90%;
    height: 3vh;
    margin-top: 1vh;
}

.form input {
    outline: none;
    border: none;
    background: none;
    box-shadow: inset 5px 5px 10px rgb(163, 177, 198, 0.6),
        inset -5px -5px 10px rgba(255, 255, 255, 0.3);
    transition: box-shadow 1s ease;
    padding: var(--wrapper-padding);
    border-radius: 5px;
    color: var(--text-color);
}

.form input:focus {
    box-shadow: 5px 5px 10px rgb(163, 177, 198, 0.6),
        -5px -5px 10px rgba(255, 255, 255, 0.3);
}

.form input::placeholder {
    color: var(--text-color);
}

.form button {
    border-radius: 5px;
    border: none;
    color: var(--light);
    background: linear-gradient(90deg, rgba(52, 195, 237, 1) 0%, rgba(13, 78, 136, 1) 100%);
    box-shadow: 3px 3px 9px rgb(0, 0, 0, 0.3), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.form button:active {
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
        -9px -9px 16px rgba(255, 255, 255, 0.3),
        inset 5px 5px 6px rgb(0, 0, 0, 0.2),
        inset -5px -5px 6px rgba(255, 255, 255, 0.15);

}

.last_sync_content > * {
    width: 90%;
    margin: auto;
}

.last_sync {
    margin: 3.5vh auto 5.5vh auto;
    text-align: center;
}

.synced_directories_content > div > div {
    display: flex;
}

.directories {
    width: 70%;
}

.status {
    width: 30%;
}

.directories > h2,
.status > h2 {
    margin-top: 6vh;
}

.status > h2 {
    text-align: right;
}

.notifications {
    position: absolute;
    width: 60%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.notification-content {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.notification-content button {
    margin: 0px 10px 0px 0px;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    border: none;
    outline: none;
    background: none;
}

.error {
    background: red;
}

.success {
    background: lime;
}