@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-light)
}

:root {
    --wrapper-padding: 15px;
    --background: #d5dae0;
    --background-down: #d0d4da;
    --text-color-light: #6d6d6d;
    --text-color: #2e2a27;
}

body {
    background: var(--background-down);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-light)
}

p {
    color: var(--text-color);
}

button:hover {
    cursor: pointer;
}

.wrapper > div {
    padding: var(--wrapper-padding);
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    background-color: var(--background);
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
}

.commands {
    display: flex;
    flex-direction: column;
}

.commands > div {
    width: 90%;
    margin: 2.5% auto;
    height: 22.5%;
    box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px  rgba(255,255,255, 0.5);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: var(--wrapper-padding);
    background: var(--background-down);
}

.commands > div img {
    height: 8vh;
    margin: 2.5vh 2.5vh 2.5vh 1vh;
    padding: .5vh;
    border-radius: 5px;
    box-shadow: 5px 5px 16px rgb(163,177,198,0.6), -5px -5px 16px  rgba(255,255,255, 0.5);
}

.form > * {
    width: 90%;
    height: 3vh;
    margin-top: 1.5vh;
}

.form input {
    outline: none;
    border: none;
    background: none;
    box-shadow: inset 5px 5px 10px rgb(163,177,198,0.6), 
                inset -5px -5px 10px  rgba(255,255,255, 0.5);
    transition: box-shadow 1s ease;
    padding: var(--wrapper-padding);
    border-radius: 5px;
    color: var(--text-color);
}

.form input:focus {
    box-shadow: 5px 5px 10px rgb(163,177,198,0.6), 
                -5px -5px 10px  rgba(255,255,255, 0.5);
}

.form input::placeholder {
    color: var(--text-color);
}

.form button {
    border-radius: 5px;
    border: none;
    background: var(--background);
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
}

.form button:active {
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), 
                -9px -9px 16px  rgba(255,255,255, 0.5), 
                inset 5px 5px 16px rgb(163,177,198,0.6), 
                inset -5px -5px 16px  rgba(255,255,255, 0.5);

}

/* input[type=text] {
    border: none;
    outline: none;
    background: none;
    border-bottom: #4e4546 solid 2px;
    transition: border-bottom .3s ease;
}

input[type=text]:focus {
    border-bottom: #0c9911 solid 2px;
}

.notifications {
    position: absolute;
    width: 60%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.notification-content {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.notification-content button {
    margin: 0px 10px 0px 0px;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    border: none;
    outline: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

.error {
    background: red;
}

.success {
    background: lime;
} */