* {
    padding: 0;
    margin: 0;
}

.content {
    margin: 10px;
    width: 33%;
    --s: 25px;
    /* the size on the corner */
    --t: 5px;
    /* the thickness of the border */
    --g: 20px;
    /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #4e4546;
    /* the color here */
    outline-offset: calc(-1*var(--t));
    -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
}

input[type=text] {
    border: none;
    outline: none;
    background: none;
    border-bottom: #4e4546 solid 2px;
    transition: border-bottom .3s ease;
}

input[type=text]:focus {
    border-bottom: #0c9911 solid 2px;
}

.notifications {
    position: absolute;
    width: 60%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.notification-content {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.notification-content button {
    margin: 0px 10px 0px 0px;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: 900;
    border-radius: 50%;
    border: none;
    outline: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

.error {
    background: red;
}

.success {
    background: lime;
}